<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <title>linkascan</title>
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/hs.megamenu.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css?v=0.0.7">
    <link rel="stylesheet" href="/css/theme.min.css?v=0.4.3.4">
    <link rel="stylesheet" href="/css/custom.css?v=0.4.1.1">
    <script src="/lib/jquery-3.3.1.min.js"></script>
</head>

<body id="body">
    <div class="wrapper">
        <header id="header" class="u-header" include-html>
            <% include ./header %>
        </header>
        <main id="content" class="bg-light" role="main">
            <div class="container py-3">
                <div class="d-sm-flex align-items-center">
                    <div class="mb-2 mb-sm-0">
                        <h1 class="h4 mb-0">Block <span
                                class="small text-secondary">&nbsp;#<%= block.blockNum %></span><br></h1>
                    </div>
                </div>
            </div>

            <div class="container space-bottom-2">
                <div class="card">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
                            <div id="ContentPlaceHolder1_maintable" class="card-body">
                                <div class="row align-items-center  mt-1">
                                    <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">Block
                                        Height:</div>
                                    <div class="col-md-9">
                                        <div class="d-flex">
                                            <span class="font-weight-sm-bold mr-2"><%= block.blockNum %></span>
                                            <!-- <a class="btn btn-xs btn-icon btn-soft-info mr-1" href="/block/7684833" title="View previous block"><i class="fa fa-chevron-left btn-icon__inner"></i></a>
                                            <a class="btn btn-xs btn-icon btn-soft-info mr-1" href="/block/7684835" title="View next block"><i class="fa fa-chevron-right btn-icon__inner"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-space">
                                <div class="row align-items-center">
                                    <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">
                                        Timestamp:</div>
                                    <div class="col-md-9">
                                        <%= block.createDate %>
                                    </div>
                                </div>
                                <div id="ContentPlaceHolder1_div_tx_fieldname">
                                    <hr class="hr-space mb-2">
                                    <div class="row align-items-center">
                                        <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">
                                            Transactions:</div>
                                        <div id="ContentPlaceHolder1_div_tx_fieldvalue" class="col-md-9">
                                            <a class="u-label u-label--value u-label--primary rounded my-1"
                                                href="/txs?block=<%= block.blockNum %>"
                                                title="Click to view Transactions"><%= block.txCount %> transactions</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-space">
                                <div class="row align-items-center">
                                    <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">Channel
                                        Name:</div>
                                    <div class="col-md-9">
                                        <%= block.channelName %>
                                    </div>
                                </div>
                                <hr class="hr-space">
                                <div class="row align-items-center">
                                    <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">Block
                                        Hash:</div>
                                    <div class="col-md-9">
                                        <%= block.blockHash %>
                                    </div>
                                </div>
                                <hr class="hr-space">
                                <div class="row align-items-center">
                                    <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">Data
                                        Hash:</div>
                                    <div class="col-md-9">
                                        <%= block.dataHash %>
                                    </div>
                                </div>
                                <hr class="hr-space">
                                <div class="row align-items-center">
                                    <div class="col-md-3 font-weight-bold font-weight-sm-normal mb-1 mb-md-0e">Previous
                                        Hash:</div>
                                    <a class="col-md-9" href="/block/<%= block.prevBlockHash %>">
                                        <%= block.prevBlockHash %>
                                    </a>
                                </div>
                                <hr class="hr-space">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>   
        <footer>
            <% include ./footer %>
        </footer>
    </div>

</body>

</html>